@model Translator

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <ul class="menu">
        <li><a onclick="geri()"><i class="fas fa-arrow-left" style="cursor: pointer; padding-right: 20px;"></i></a> Yayınevi Detayı</li>
    </ul>
    <ul></ul>
</nav>
<article class="container">
    <div class="item">
        <form method="post" asp-action="detail" autocomplete="off">
            <div class="row">
                <div class="col-25" style="width:50px; height: 50px; background-color: black; margin: 10px;">
                    <img src="\images\@Model.Logo" style="width:50px; height:50px;" >
                </div>
                <div class="col-50" style="padding-top: 20px; margin-left: 150px;">
                    <label asp-for="Name" class="header" for="name">@Model.Name</label>
                    <button class="buton"><a href="#"> <i class="fas fa-question-circle"></i> İletişim Bilgileri</a></button>
                    <p asp-for="About">
                       @Model.About
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="recordDate" style="font-weight: bold; padding-left: 10px; padding-top: 30px;">Mütercime ait olan kitap sayısı</label>
                    <label for="recordDate" style=" padding-left: 20px; padding-top: 20px;">20</label>
                </div>
                <div class="col-75">
                    <button class="buton" style="margin-top: 25px; background-color: #7a91c0;"><a asp-controller="Book" asp-action="InvokeTranslator" asp-route-id="@Model.ID"> <i class="fas fa-book"></i> Kitaplar</a></button>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="recordDate" style="font-weight: bold; padding-left: 10px; padding-top: 30px;">Kayıt Tarihi</label>
                    <label for="recordDate" style=" padding-left: 50px; padding-top: 20px;"></label>
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <button class="detailButton" style="background-color: rgb(182, 45, 45); padding: 10px;"><a asp-controller="translator" asp-action="delete" asp-route-id="@Model.ID"><i class="fas fa-trash" style="padding-right: 5px;"></i>Sil</a></button>
                <button class="detailButton" style="background-color: #7a91c0; padding: 10px;"><a asp-controller="translator" asp-action="edit" asp-route-id="@Model.ID"><i class="fas fa-edit" style="padding-right: 5px;"></i>Düzenle</a></button>
            </div>
        </form>
    </div>

</article>